# 环境与依赖配置
venv_id_photo/
venv_id_photo/*
__pycache__/
__pycache__/*
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# 本底测试照片和产出内容
test.jpg
test_*.jpg
result*.jpg
done_*.jpg
API_result*.jpg
*.jpeg
*.png
*.webp

# 日志文件
*.log

# 项目特殊临时路径或 PM2 配置相关
.pm2/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac 系统文件
.DS_Store
.AppleDouble
.LSOverride

# 编辑器本地配置
.vscode/
.idea/
.ipynb_checkpoints
*~
*.swp
*.swo
